.AppStatus {
  background-color: #c2ebd3;
  padding: 1px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  width: 65px;
  border-radius: 4px ;

  .FeatureStatus {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3cb46e;
    margin-right: 6px;
  }
}
