.TopicDetailInformation {
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--ion-color-black);
    margin-bottom: 16px;
  }

  .html {
    font-size: 15px;
    color: #767676;

    a {
      text-decoration: none;
    }
  }
}
